/* Main Colors -
backgrounds: midnightblue, navy, forestgreen
text:        white, red, black */
html * {
	font-family: Verdana, sans-serif;
}

:root {
	background-color: midnightblue;
	color: white;
}

#main {
	display: grid;
	margin-left: 25vw;
	margin-top: 10vh;
	width: 50vw;
}

#mat-total-cost {
	margin-left: 20px;
	font-weight: bold;
}

#tf2 {
	transition: transform 1s ease;

	&:hover {
		transition: transform 1s ease;
		transform: rotate(360deg);
	}
}

.required {
	color: red;
	font-weight: bold;
}

span, select {
	margin-bottom: 1em;
}

input {
	margin-bottom: 1em;
	padding: 0.25em 0.25em 0.25em 0.25em;
	border-radius: 0.5em;
	border-style: groove;

	&[type="submit"] {
		background-color: darkgreen;
		color: white;
		font-weight: bold;
		border-width: 0px;
		transition: background-color 0.15s;

		&:hover {
			background-color: forestgreen;
			transition: background-color 0.15s;
		}
	}
}